---
import Entradas from "../components/Entradas.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Huancahuasi">
  <main class="text-white">
    <div class="flex justify-center">
      <div>
        <img src="/img/logo white.png" alt="logo" class="w-80 h-auto mt-8" />
      </div>
    </div>

	<div class="text-center mb-0 mt-12">
		<h1 class="ttl text-4xl font-bold ">NUESTRA CARTA</h1>
	</div>

	<div>
		<div class="bg-[#5B3017]/20">
			<Entradas />
		</div>
	</div>
  </main>
</Layout>


<style>
	.ttl {
		letter-spacing: 14px;
	}
</style>