<div class="ring-1 ring-gray-100/5 rounded-xl shadow-lg p-8 text-white">
    <div class="md:px-4">
      <div
        class="flex justify-center items-center w-full rounded-md px-4 py-2 outline-none"
      >
        <a class="flex items-center gap-4 text-xl" href="">Primer Plato</a
        >
      </div>
    </div>
  </div>

  <div class="ring-1 ring-gray-100/5 rounded-xl shadow-lg p-8 text-white">
    <div class="md:px-4">
      <div
        class="flex justify-center items-center w-full rounded-md px-4 py-2 outline-none"
      >
        <a
          class="flex items-center gap-4 text-xl"
          target="_blank"
          href="https://github.com/Omarsx1">Segundo Plato</a
        >
      </div>
    </div>
  </div>

  <style>
    .plato1 {

    }

    .plato2 {
        
    }

    .plato3 {
        
    }

    .plato4 {
        
    }

    .plato5 {
        
    }

    .plato6 {
        
    }
  </style>